export  TAKE_PROFIT=false
export  STOP_LOSS=true,
# fix upnl take profit and stop loss
export  TAKE_PROFIT_FIX_UPNL=0.786
export  STOP_LOSS_FIX_UPNL=-0.382
# fix price take profit and stop loss
export  TAKE_PROFIT_FIX_PRICE_URATE=0.00618
export  STOP_LOSS_FIX_PRICE_URATE=0.00382
# close position amount
export  CLOSE_AMOUNT=100
# position take profit and stop loss
export POSITION_TAKE_PROFIT_URATE=0.1
export POSITION_STOP_LOSS_URATE=0.1




# macd
# if true, add dea < 0 for buy signal conditions, add dea > 0 for sell signal conditions
CONDITION_DEA=false
# early close of last candle
CONDITION_EARLY_CLOSE_SECONDS=0